.main-block {
  width: auto;
  min-width: 580px;
  margin: 25px;
}

.main-block__search-box {
  margin: 15px 0;
}

.main-block__select-box {
  margin: 15px 0;
}

.main-block__table-box {
  margin: 30px 0;
}
